@import "/src/styles/colors";

.movie-card-small {
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  filter: grayscale(1);
  height: 100px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  width: 150px;

  &:hover {
    filter: grayscale(0);
    height: 225px;

    .slider-container {
      display: flex;
    }
  }

  .movie-poster {
    height: 225px;
    width: 150px;
  }

  .slider-container {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .movie-title {
      color: $white;
      font-size: 26px;
      text-align: center;
    }
  }
}

.movie-card-large {
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  filter: grayscale(1);
  height: 370px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  width: 250px;

  &:hover {
    background-size: 105%;
    filter: grayscale(0);

    .title-bar {
      top: 0;
    }
  }

  .title-bar {
    align-items: center;
    background-color: $black-99;
    color: $white;
    display: flex;
    height: 50px;
    justify-content: center;
    position: relative;
    text-align: center;
    top: -50px;
    transition: top 0.25s ease-in-out;
  }
}
