$black: #000;
$black-99: #00000099;
$cotton-candy: #f8b9d4;
$dodger-blue: #006eff;
$dodger-blue-33: #006eff33;
$grey: #808080;
$jordy-blue: #6ca0dc;
$light-green: #90ee90;
$night-rider: #333333;
$white: #fff;
$white-smoke: #f8f8f8;
