@import "/src/styles/colors";

.home-container {
  padding: 1rem;

  .home-heading {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
  }

  hr {
    color: $white;
    margin: 1rem auto;
    width: 75%;
  }

  .app-description {
    color: $white;
    margin: auto;
    width: 800px;
  }

  .filter-container {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
    width: 1050px;

    > * {
      width: 200px;
    }
  }

  .movies-container-title {
    color: $white;
    margin: auto;
    text-align: center;
    width: 1050px;
  }

  .movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }
}
