<div class="home-container">
  <div class="search-container">
    <app-dropdown
      [placeholder]="'Select month'"
      (emitValue)="getMonthFilter($event)"
      [options]="[
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
      ]"
    ></app-dropdown>
  </div>

  <div class="movies-container">
    <app-movie-card
      *ngFor="let movie of displayMovies"
      [movieDetails]="movie"
      (searchByActor)="filterByActor($event)"
    ></app-movie-card>
  </div>
</div>
