<div class="home-container">
  <header class="home-heading">
    <h1 class="display-1">LedMDB</h1>
    <p>A Glimpse into the Movies Watched in 2019</p>
  </header>

  <hr />

  <main>
    <div class="app-description">
      <p>
        In 2019, my wife and I decided to make a record of every single movie we
        watched that year. The reason for this was to collect a real dataset to
        use when practicing creating apps like <strong>LedMDB</strong>!
      </p>

      <p>
        To get started, use one of the filter options below to start displaying
        the movies we watched. You can then click on a movie to display details
        on that movie! Movie information is received via the
        <a href="https://www.omdbapi.com/" target="_blank">OMDB API</a>.
      </p>
    </div>

    <hr />

    <div class="filter-container">
      <div class="theme-toggler-container">
        <app-theme-toggler
          [activeTheme]="currentTheme"
          (changeTheme)="changeTheme($event)"
        ></app-theme-toggler>
      </div>

      <app-dropdown
        [placeholder]="'Select month'"
        (emitValue)="
          filterDisplayMovies({ filterBy: 'month', filterTerm: $event })
        "
        [options]="[
          '',
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December'
        ]"
      ></app-dropdown>

      <div class="empty-container"></div>
    </div>

    <ng-container
      *ngIf="activeFilter.filterBy !== '' && activeFilter.filterTerm !== ''"
    >
      <div class="movies-container-title">{{ setResultsTitle() }}</div>

      <div class="movies-container" *ngIf="currentTheme !== 2">
        <app-movie-card
          *ngFor="let movie of displayMovies"
          [movieDetails]="movie"
          [theme]="currentTheme"
          (searchByFilter)="filterDisplayMovies($event)"
          (openMovieModal)="openModal($event)"
        ></app-movie-card>
      </div>

      <div class="movies-container-table" *ngIf="currentTheme === 2">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th></th>
              <th scope="col">Title</th>
              <th scope="col">Watch Date</th>
              <th scope="col">Method</th>
              <th scope="col">
                <fa-icon [icon]="faMars"></fa-icon>
              </th>
              <th scope="col">
                <fa-icon [icon]="faVenus"></fa-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of displayMovies" (click)="openModal(movie)">
              <td>
                <img class="movie-poster" [src]="movie.poster" />
              </td>
              <td>
                <div class="movie-title">{{ movie.title }}</div>
              </td>
              <td>{{ movie.watchDate | date : "MMM dd" }}</td>
              <td>{{ getMethodString(movie.watchMethod) }}</td>
              <td>
                <fa-icon *ngIf="movie.mani" [icon]="faCircleCheck"></fa-icon>
              </td>
              <td>
                <fa-icon *ngIf="movie.nida" [icon]="faCircleCheck"></fa-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </main>
</div>
